/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 
  CSS rules to specify families 
    - font-family: 'Raleway', sans-serif;
    - font-family: 'Poppins', sans-serif;
    - font-family: 'Ubuntu', sans-serif;
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

:root {
  --primary: #CC0F0F;
  --secondary: #E6E6E6;
  --thirdy: #FEB600;
}

.content {
  min-height: calc(100vh - 108px - 80px);
}

/* 
  CSS rules to specify color var
    color: var(--primary);
    color: var(--secondary);
    color: var(--thirdy);
*/


/* Css Styling for modal login */
.avatar {
  position: absolute;
  top: -10%;
  left: 40%;
}

.avatar img {
  width: 100%;
}

.or {
  overflow: hidden;
  text-align: center;
  color: var(--primary);
}

.or:before,
.or:after {
  background-color: var(--primary);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.or:before {
  right: 0.5em;
  margin-left: -50%;
}

.or:after {
  left: 0.5em;
  margin-right: -50%;
}

.centered-form .btn-merah,
.modal-body .btn-merah {
  background-color: var(--primary);
  color: #fff;
}

.modal-content a {
  color: var(--primary);
}

.modal-content .modal-header {
  border-bottom: none;
  padding-top: 2.5rem;
}

.modal-header .modal-title {
  color: var(--primary);
}

.modal-dialog .modal-content {
  background-color: #E6E6E6;
}

/* Css Styling for modal login */

.test {
  position: relative;
}

.centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 5%;
  background: var(--secondary);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.centered-form h2 {
  color: var(--primary);
}

.modal-content .avatar {
  position: absolute;
  top: -13%;
  left: 40%;
}

.modal-content .avatar img {
	width: 100%;
}

.room {
  text-align: center;
}

.room .card-detail-produk {
  text-align: left;
}

/* css styling for navigation bar */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem 2rem;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__menu-list {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 85px;
  width: 300px;
  row-gap: 24px;
  right: -300px;
  padding: 24px 16px;
  transition: all 0.5s;
  min-height: calc(100vh - 60px);
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav__menu-list.active {
  right: 0;
  color: var(--primary);
  display: flex;
}

.nav__link {
  font-size: 1rem;
  position: relative;
  transition: all 0.2s;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #000;
}

nav .logo-brand {
  font-size: 24px;
  color: var(--primary);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

nav .logo-navbar {
  width: 50px;
  height: 50px;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 2px;
}

.nav__link.active {
  color: var(--primary);
}

.nav__link:hover {
  font-weight: 800;
  color: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 2rem;
  }

  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    display: flex;
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
    filter: none;
  }

  .nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav__link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav__link:hover {
    color: var(--primary);
  }

}
/* css styling for navigation bar */

/* css styling for footer */
footer {
  background-color: var(--primary);
  height: 108px;
}
.link a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: inherit;
}

.link a:hover {
  font-weight: 800;
  color: inherit;
}

footer .footer-content {
  align-items: center;
  height: 108px;
}
/* css styling for footer */

/* css styling for show room code modal */
.roomCode {
  background-color: var(--primary);
  color: #fff;
  padding: .5rem;
  margin-bottom: 1rem;
}

.roomCode p {
  font-size: 2rem;
}
/* css styling for show room code modal */